{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

<div class="article-card-wide mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><a href="{{url}}">{{{title}}}</a></h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{excerpt words="26"}} ...
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="{{url}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Read Now
    </a>
    <div class="share-buttons">
        <button id="{{slug}}-share-menu" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
        <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
            for="{{slug}}-share-menu">
            <li class="mdl-menu__item">Twitter</li>
            <li class="mdl-menu__item">Linkedin</li>
            <li class="mdl-menu__item">Facebook</li>
            <li class="mdl-menu__item">Reddit</li>
        </ul>
    </div>
  </div>
</div>

{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
