<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-red.min.css" media="all" rel="stylesheet" type="text/css">               
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" media="all" rel="stylesheet" type="text/css">
    
    <!-- inject:css -->
    <link rel="stylesheet" href="/assets/dist/all.min.css">
    <!-- endinject -->
    
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body>    
    <div  class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
            <a href="/" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="mdi mdi-home mdi-24px mdi-light"></i>
            </a>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                        mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon"
                    for="fixed-header-drawer-exp" title="Search for articles.">
                <i class="mdi mdi-magnify"></i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="search"
                        id="fixed-header-drawer-exp">
                <button id="clearSearch" class="mdl-button mdl-js-button mdl-button--icon" title="Clear search results.">
                    <i class="mdi mdi-close"></i>
                </button>
                </div>
            </div>
            </div>
        </header>
        <div class="mdl-layout__drawer">                        
            <h5 class="sidebar-title">{{@blog.title}}</h5>           
            <img class="sidebar-logo" width="128" height="128" src="{{@blog.logo}}" alt="Development Laundry Logo">
            <strong class="mdl-layout-title">Cecil du Toit</strong>              
               
            <section style="margin-left:40px;">
                <h6>Follow Me</h6>
                <a href="https://twitter.com/cecildt" target="_blank" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="mdi mdi-twitter-box"></i>
                </a>
                <a href="https://github.com/Cecildt" target="_blank" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="mdi mdi-github-box"></i>
                </a>
                <a href="https://www.linkedin.com/in/cecildutoit" target="_blank" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="mdi mdi-linkedin-box"></i>
                </a>
            </section>                      
            {{navigation}}
            <span style="margin-left:20px;">{{@blog.description}}</span>
        </div>
        <main class="mdl-layout__content">
            <div id="top" class="page-content">
                <section id="results"></section>
                <div style="clear:both;"></div>
                {{{body}}}                                
            </div>
        </main>
        <a href="#top" title="Back to Top" class="go-top-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="mdi mdi-chevron-double-up button-icon-align"></i>
        </a>
        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>
        
    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js" async></script>        
    <script type="text/javascript" src="https://cdn.muut.com/1/moot.min.js" async></script>
    
    <!-- inject:js -->
    <script src="/assets/dist/all.min.js"></script>
    <!-- endinject -->

</body>
</html>
