<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="./assets/css/devlaundry.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-red.min.css">        
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                        mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon"
                    for="fixed-header-drawer-exp">
                <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="sample"
                        id="fixed-header-drawer-exp">
                </div>
            </div>
            </div>
        </header>
        <div class="mdl-layout__drawer">            
            <span class="mdl-layout-title">{{@blog.title}}</span>           
            <img class="sidebar-logo" width="128" height="128" src="http://cdn.devlaundry.com/images/site/avatar-small.png" alt="Development Laundry Logo">
            <strong class="mdl-layout-title">Cecil du Toit</strong>            
            <span style="margin-left:20px;">{{@blog.description}}</span>
            <nav class="mdl-navigation">
                <ul>
                {{#foreach navigation}}
                    <li role="presentation">
                        <a class="mdl-navigation__link" href="{{url absolute="true"}}">{{label}}</a>    
                    </li>                                
                {{/foreach}}
                </ul>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="margin: 15px;" href="{{@blog.url}}/rss/">Subscribe</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                {{{body}}}
            </div>
        </main>
        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>
    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
