{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content mdl-grid" role="main">
    <div class="mdl-cell mdl-cell--9-col">
        <article class="{{post_class}}">

            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    <div>
                        <i class="mdi mdi-calendar mdi-18px"></i>
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">Written {{date timeago="true"}}</time> {{tags prefix=" on "}}
                    </div>
                    <div style="margin-left:15px;">
                        <i class="mdi mdi-glasses mdi-18px"></i>
                        <span class="eta"></span>
                    </div>
                    <div style="margin-left:15px;">
                        <i class="mdi mdi-file-word-box mdi-18px"></i>
                        <span class="word-count"></span>
                    </div>         
                    <div class="share-top-article">
                        <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
                           title="Share article to Twitter">
                            <i class="mdi mdi-twitter-box mdi-24px mdi-dark"></i>
                        </a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
                           title="Share article to Facebook">
                            <i class="mdi mdi-facebook-box mdi-24px mdi-dark"></i>
                        </a>
                        <a href="https://plus.google.com/share?url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"
                           title="Share article to Google+">
                            <i class="mdi mdi-google-plus-box mdi-24px mdi-dark"></i>
                        </a>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&title={{encode title}}&url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;"
                           title="Share article to Linkedin">
                            <i class="mdi mdi-linkedin-box mdi-24px mdi-dark"></i>
                        </a>
                        <a href="https://reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}"
                           onclick="window.open(this.href, 'reddit-share', 'width=490,height=530');return false;"
                           title="Share article to Reddit">
                            <i class="mdi mdi-reddit mdi-24px mdi-dark"></i>
                        </a>
                    </div>           
                </section>
            </header>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">

                {{> author-card}}
         
                <section class="share">
                    <h4>Share this article</h4>
                    <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
                        title="Share article to Twitter">
                        <i class="mdi mdi-twitter-box mdi-48px mdi-dark"></i>
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
                        title="Share article to Facebook">
                        <i class="mdi mdi-facebook-box mdi-48px mdi-dark"></i>
                    </a>
                    <a href="https://plus.google.com/share?url={{url absolute="true"}}"
                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"
                       title="Share article to Google+">
                        <i class="mdi mdi-google-plus-box mdi-48px mdi-dark"></i>
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&title={{encode title}}&url={{url absolute="true"}}"
                       onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;"
                       title="Share article to Linkedin">
                        <i class="mdi mdi-linkedin-box mdi-48px mdi-dark"></i>
                    </a>
                    <a href="https://reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}"
                       onclick="window.open(this.href, 'reddit-share', 'width=490,height=530');return false;"
                       title="Share article to Reddit">
                        <i class="mdi mdi-reddit mdi-48px mdi-dark"></i>
                    </a>                    
                </section>
            </footer>            
        </article>
        
        <aside class="read-next">
            {{#next_post}}
            <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
                <article class="article-next-card mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">    
                        <h2 class="mdl-card__title-text">
                            <a href="{{url}}">{{{title}}}</a>        
                        </h2>    
                    </div>
                    <div class="mdl-card__supporting-text">
                        {{excerpt words="26"}}&hellip;
                        <span class="publish-date">Published {{date published_at timeago="true"}}</span>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="{{url}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Read Now <i class="mdi mdi-arrow-right mdi-12px"></i>
                        </a>
                        <div class="share-buttons">
                            <button id="{{slug}}-share-menu" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" title="Share">
                                <i class="mdi mdi-share-variant"></i>
                            </button>
                            <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
                                for="{{slug}}-share-menu">
                                <li class="mdl-menu__item">
                                    <a href="https://twitter.com/intent/tweet?text=Read this: {{encode title}}&url={{url absolute="true"}}" target="_blank">Twitter</a>
                                </li>
                                <li class="mdl-menu__item">
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&title={{encode title}}&url={{url absolute="true"}}" target="_blank">Linkedin</a>
                                </li>
                                <li class="mdl-menu__item">
                                    <a href="https://www.facebook.com/share.php?u={{url absolute="true"}}" target="_blank">Facebook</a>
                                </li>
                                <li class="mdl-menu__item">
                                    <a href="https://reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}" target="_blank">Reddit</a>
                                </li>
                                <li class="mdl-menu__item">
                                    <a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank">Google+</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </a>
            {{/next_post}}
            {{#prev_post}}
            <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
                <article class="article-next-card mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">    
                        <h2 class="mdl-card__title-text">
                            <a href="{{url}}">{{{title}}}</a>        
                        </h2>    
                    </div>
                    <div class="mdl-card__supporting-text">
                        {{excerpt words="26"}}&hellip;
                        <span class="publish-date">Published {{date published_at timeago="true"}}</span>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="{{url}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Read Now <i class="mdi mdi-arrow-right mdi-12px"></i>
                        </a>
                        <div class="share-buttons">
                            <button id="{{slug}}-share-menu" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" title="Share">
                                <i class="mdi mdi-share-variant"></i>
                            </button>
                            <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
                                for="{{slug}}-share-menu">
                                <li class="mdl-menu__item">
                                    <a href="https://twitter.com/intent/tweet?text=Read this: {{encode title}}&url={{url absolute="true"}}" target="_blank">Twitter</a>
                                </li>
                                <li class="mdl-menu__item">
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&title={{encode title}}&url={{url absolute="true"}}" target="_blank">Linkedin</a>
                                </li>
                                <li class="mdl-menu__item">
                                    <a href="https://www.facebook.com/share.php?u={{url absolute="true"}}" target="_blank">Facebook</a>
                                </li>
                                <li class="mdl-menu__item">
                                    <a href="https://reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}" target="_blank">Reddit</a>
                                </li>
                                <li class="mdl-menu__item">
                                    <a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank">Google+</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </a>
            {{/prev_post}}
        </aside>

        <section class="mdl-cell--hide-phone">
            {{> ads}}
            {{> comments}}     
        </section>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-phone">
        {{> toc}}
        {{> ads}}
        {{> related}}
        {{> tags}}
    </div>
</main>

{{/post}}
